@font-face {
    font-family: "Recife";
    src: local("Recife"),
     url(@/assets/fonts/Recife/RecifeDisplayWebTrial-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "HKGrotesk";
    src: local("HKGrotesk"),
     url(@/assets/fonts/hk-grotesk/HKGrotesk-Regular.otf) format("oft");
  }

